body{
    margin: 0 auto;
    font-size: xx-large;
}
/* -- Cabeçalho -- */
header{
    background-color: rgb(29, 143, 95);
    padding: 20px;
}
.logo{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo1{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    color: white;
    width: 60px;
    height: 60px;
}
.iconePerf{
    display: flex;
    align-items: center;
}

/* -- Jogo da Forca -- */
body{
    background: rgb(181, 184, 185);
    margin: 0;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #050505;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #7ad8b6 0%,
                                #349e77 50%, #1fa070 50%, #06975f);
    border-radius: 10px;
    border: 1px solid #949494;
    box-shadow:
        0px 1px 3px rgba(000, 000, 000, 0.5), 
        inset 0px 0px 2px rgba(255, 255, 255, 1);
    text-shadow: 
        0px -1px 0px rgba(000, 000, 000, 0.2), 
        0px 1px 0px rgba(255, 255, 255, 1);
}
button:hover{
    background: linear-gradient(to top, #adccc7 0%,
                                 #adccc7 50%, #adccc7 50%, #adccc7);
}
button:disabled{
    background: #b5b2b2b9;
    color: #cbcbcb;
}
#jogo{
    text-align: center;
    width: 100vw;
    height: 650px;
}
main{
    display: flex;
    justify-content: space-evenly;
}
.teclado{
    margin-top: 100px;
}
.forca{
    margin-top: 50px;
}   
h1{
    color: #00a767;
    margin-top: 50px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

#tabeladiv{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
#forca img{
    width: 70%;
    height: 70%;
    float: right;
}
#tema{
    text-align: center;
    margin: 5px auto;
    font-size: 30px;
    color: #038352;
}
#tentativa{
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
#tenta{
    margin-left: 1px;
    text-align: center;
    font-size: 20px;
    color: forestgreen;
}
#tenta input{
    background-color: rgb(135, 192, 168);
}
input{
    margin-left: 5px;
    text-align: center;
    font-size: 20px;
    color: forestgreen;
}
#acerto{
    text-align: left;
    margin: 5px auto;
    font-size: 20px;
    color: #038352;
}
#palcerta{
    text-align: left;
    margin: auto;
    font-size: 17px;
    color: #038352;
}
#tabAcerto{
    width: 30%;
}

/* Rodapé do site */
/* Rodapé do site */
footer{
    background-color: rgb(29, 143, 95);
    padding: 40px;
    margin-top: 50px;
}
.itemRodape{
    text-decoration: none;
    color: white;
    text-align :center;
    margin: 10px;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-items: center;
}