body{
    margin: 0 auto;
    font-size: xx-large;
}
/* -- Cabeçalho -- */
header{
    background-color: rgb(0, 0, 0);
    height: 120px;
}
.cabecalho{
    height: 90px;
}
.logo {
    display: flex;
    justify-content: center;
    height: 170px;
    
}
.icon{
    color: white;
    width: 60px;
    height: 60px;
    margin: 25px;
}

/* Rodapé do site */
footer{
    background-color: rgb(32, 32, 32);
    padding: 40px;
    margin-top: 50px;
}
.itemRodape{
    text-decoration: none;
    color: white;
    text-align :center;
    margin: 10px;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-items: center;
}
.logo1{
    height: 200px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 799px){
    .login{
        margin: 30px;
    }
    .cabecalho{
        display: flex;
        justify-content: space-around;
    }
}
@media screen and (max-width: 500px){
    .login{
        margin: 10px;
    }
    .logo{
        height: 60px;
    }
    .icon{
        width: 35px;
        height: 35px;
    }
    .cabecalho{
        display: flex;
        justify-content: center;
    }
    header{
        height: 70px;
    }
    .cabecalho{
        height: 70px;
    }
}