@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* -- Cabeçalho -- */
header{
  background-color: black;
  padding: 20px;
}
.logo{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo1{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon{
  color: white;
  width: 60px;
  height: 60px;
}
.iconePerf{
  display: flex;
  align-items: center;
}

/* Quiz */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body{
  background: linear-gradient(90deg, rgb(225, 228, 43) 0%, rgb(236, 233, 32) 100%);
}

body h2 {
  margin-top: 100px;
  text-align: center;
  color: #85780b;
}

main{
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.caixa{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  min-height: 230px;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.spnQtd {
  text-align: end;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  width: 100%;
  text-align: start;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #bdab0c;
  color: white;
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.finish button {
  text-align: center;
}

/* Rodapé do site */
footer{
  background-color: rgb(32, 32, 32);
  padding: 40px;
  margin-top: 190px;
}
.itemRodape{
  text-decoration: none;
  color: white;
  text-align :center;
  margin: 10px;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-items: center;
}