body {
    margin: 0 auto;
    font-size: xx-large;
    background-color: #eccead
}

/* -- Cabeçalho -- */

header {
    background-color: rgb(23, 85, 177);
    padding: 20px;
}

.logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo1 {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: white;
    width: 60px;
    height: 60px;
}

.iconePerf {
    display: flex;
    align-items: center;
}

/* Troca Palavras*/
h1 {
    color: rgb(17, 84, 185);
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

h3 {
    color: rgb(17, 84, 185);
    font-style: italic;
}

main {
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
}

.caixa {
    background-color: #ffcd8f;
    border: 2px solid #5c6ae5;
    min-width: 250px;
    width: 30%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    border-radius: 20px;
}

button {
    width: 170px;
    border-radius: 10px;
    background-color: rgb(17, 84, 185);
    color: white;
    border: solid 2px rgb(17, 84, 185);
}

button:hover {
    background-color: black;
    border: solid 2px black;
}

.botao {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(211, 211, 211);
}

strong {
    color: rgb(17, 84, 185);
}

/* Rodapé do site */
footer {
    background-color: rgb(23, 85, 177);
    padding: 40px;
    margin-top: 50px;
}

.itemRodape{
    text-decoration: none;
    color: white;
    text-align :center;
    margin: 10px;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-items: center;
}